a {
    color: #000 !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
    opacity: 0.5;
}

#frmLogin { 
    /* margin: 0 auto; */
    width: 400px;
    height: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
}

.btn {
    width: 100px;
}

input {
    width: 300px !important;
}

.card-log{
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.linhasMetricas{
    font-weight: bold;
}

span{
    font-weight: bold;  
}

.btnCriarLog{
    margin: 25px 0 25px 25px;
    width: 200px;
}

.card-logs{
    margin-left: 50px;
}

.post-log{
    margin: 15px;
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: #e0e0e0d5;
}

main{
    background-color: #e0e0e0d5;
}